<footer>
    <div class="get-started">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3><%- __('site.footer.title') %></h3>
                </div>
                <div class="col-lg-6 text-right">
                    <div class="inline">
                        <a href="<%- show_lang() %>/conditional-token-docs/docs/" class="btn btn-white"><%- __('site.link.docs') %></a>
                    </div>
                </div>
                <div class="col-lg-12 text-right">
                    <div class="inline">
                        <a href="https:gnosis.io" class="btn btn-white gnosis-btn"><%- __('site.link.gnosis') %></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-circle"></div>
                    <div class="footer-circle"></div>
                    <div class="footer-circle"></div>
                </div>
            </div>
        </div>
    </div>
</footer>
