<footer>
    <div class="get-started">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3><a href="https://github.com/gnosis/GECO" target="_blank" rel="noopener noreferrer"><%- __('site.footer.title') %></a></h3>
                </div>
                <div class="col-lg-6 text-right">
                    <div class="inline">
                        <a href="<%- show_lang() %>/conditional-token-docs/docs/" class="btn btn-white"><%- __('site.link.docs') %></a>
                    </div>
                </div>
                <div class="col-lg-12 text-right">
                    <div class="inline">
                        <a href="https:gnosis.io" class="btn btn-white gnosis-btn"><%- __('site.link.gnosis') %></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a href="https://github.com/gnosis/conditional-tokens-contracts" target="_blank" rel="noopener noreferrer">
                        <div class="footer-circle footer-1"></div>
                    </a>
                    <a href="http://t.me/gnosisgeneral" target="_blank" rel="noopener noreferrer">
                        <div class="footer-circle footer-2"></div>
                    </a>
                    <a href="https://chat.gnosis.io" target="_blank" rel="noopener noreferrer">
                        <div class="footer-circle footer-3"></div>
                    </a>
                    <a href="https://blog.gnosis.pm/tagged/prediction-markets" target="_blank" rel="noopener noreferrer">
                        <div class="footer-circle footer-4"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
